body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    margin-left: 0;
    background-image: url(../img/10-102946_circuit-board-wallpaper-abstract-wallpapers-775-data-computer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
/*Inicio Seccion header y barra de búsqueda*/
.head-1 {
    /* Header */
    position: absolute;
    width: 100%;
    height: 100px;
    max-width: 100%;
    background-color: rgba(196, 155, 95);
    opacity: 90%;
    }

.logo-header {
    border-color: black;
    border: solid 1px;
    position: relative;
    width: 150px;
    height: 55.56px;
    left: 0px;
    top: 22px;
}

.etiqueta {
    /* Header text */
    position: absolute;
    width: 190px;
    height: 40px;
    left: 170px;
    top: 18px;
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.box-header {
    /* Busqueda */
    position: absolute;
    width: 500px;
    height: 40px;
    left: 380px;
    top: 30px;
    font-family: 'Oxygen',Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 4px;
    
}
/*Final de la sección del header*/

/*Inicio de la sección del sidebar*/
.sidebar {
/* Sidebar */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    height: 1210px;
    left: 0px;
    top: 100px;
    background-color: rgb(248, 248, 248);
    opacity: 90%;
    font-family: 'Oxygen',Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.sidebar div ul {
    padding-left: 0;
    margin-top: 0;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    list-style: none;
    color: black;
    font-size: 20px;
    width: auto;
}

.sidebar div h2 {
    margin-bottom: 0;
}
.sidebar div ul li {
    padding-top: 60px;
    padding-bottom: 60px;
    list-style-type: none;
}

.sidebar div {
    padding: 8px 24px;
    display: block;
}
.sidebar div a {
    text-decoration: none;
    color: black;
}

.sidebar div a:hover {
color: blue;
text-decoration: underline;
}
/*Final de la sección del sidebar*/

/*Inicio de la sección del main*/

.fondo-blanco {
    /* Main */
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 900;
    left: 400px;
    top: 180px;
    background-color: #FFFFFF;
}
.box {
    background-color: white;
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.vista {
    width: 200px;
    border: solid 1px black;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.carrito {
    display: flex;
    flex-direction: column;
    max-width: auto;
    min-width: 400px;
    padding-top: 20px;
    width: auto;
    height: auto;
    justify-content: center;
    padding-left: 50px;;
    font-family: 'Oxygen',Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    color: black;
}
.carrito ul li {
    list-style: none;
    padding-bottom: 50px;
}

.carrito ul li article a {
    text-decoration: none;
    color: black;
}

.carrito ul li article a:hover {
    color: blue;
    text-decoration: underline;
}

.articulo-1 {
    /* Led Blanco 5mm 10 unidades */
    position: absolute;
    width: 280px;
    height: 20px;
    left: 300px;
    top: 40px;
}

.articulo-2 {
    /* Cinta led 10m */
    position: absolute;
    width: 150px;
    height: 20px;
    left: 300px;
    top: 300px;
}

.articulo-3 {
    /* Leds varios colores 5mm 10 unidades */
    position: absolute;
    width: 360px;
    height: 20px;
    left: 300px;
    top: 510px;
}

    .articulo-4 {
    /* Led Blanco 5mm 10 unidades */
    position: absolute;
    width: 400px;
    height: 20px;
    left: 300px;
    top: 670px;
}

.contenedor-botones {
    /* Container botones */
    position: absolute;
    width: 284px;
    height: 70px;
    left: 660px;
    top: 1121px;
}

.boton {
    width: 140px;
    height: 70px;
    left: 0px;
    top: 15px;
    background-color: #39A50D;
    opacity: 100%;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Oxygen',Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.boton a {
    text-decoration: none;
    color: white;
    font-family: 'Oxygen',Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.boton:hover {
    background-color: #2f8d0a;
}

/*Final de la seccion main*/

/*Inicio de la sección del footer*/
.footer {
    display: grid;
    justify-items: center;
    align-items: end;
    position: relative;
    width: 100%;
    height: 100px;
    top: 1200px;
}

.logo-footer {
    width: 100px;
    border: solid 1px black;
    border-radius: 100%;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    
}

.text-footer {
    padding-left: 400px;
    padding-right: 80px;
    float: left;
    text-align: center;
    padding-top: 25px;
    color: black;
    -webkit-text-stroke: 0.2px white;
    font-family: 'Oxygen',Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

/*Final de la sección footer*/