* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-image: url(../img/10-102946_circuit-board-wallpaper-abstract-wallpapers-775-data-computer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: cursive;
    display: flex;
    flex-direction: column;
}

.box {
    background-color: white;
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: cursive;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: cursive;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: cursive;
}

input[type=button] {
    width: 40%;
    background-color: rgb(17, 155, 173);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: cursive;
}


.div1 {
    width: 50%;
    height: auto;
    max-width: 600px;
    min-width: 400px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/800px-RBG-LED.jpg);
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
}



input[type=button]:hover {
    background-color: rgb(17, 184, 206);
}

input[type=submit]:hover {
    background-color: rgb(17, 184, 206);
}

.head-2 {
    display: grid;
    background-color: rgba(226, 198, 145, 0.7);
    justify-items: start;
    align-items: center;
    text-align: center;
    margin: 0;
    }

    .alinear {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 10px;
        justify-items: center;
        align-items: center;
    }
/*Atributos importados*/

.head-1 {
    display: grid;
    background-color: rgba(226, 198, 145, 0.7);
    grid-template-columns: 100px 300px auto;
    grid-column-gap: 10px;
    justify-items: start;
    align-items: center;
    }

.logo {
    width: 100px;
    border-color: black;
    border: solid 2px;
    border-radius: 100%;
}

.etiqueta {
    font-family: cursive;
    padding: 0;
    margin: 0;
}

.box {
    background-color: white;
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.vista {
    width: 200px;
    border: solid 2px black;
}

.box-2 {
    background-color: rgb(17, 155, 173);
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    font-family: cursive;
    font-size: 20px;
    text-decoration: none;
    border: none;
}

.box-2:hover {
    background-color: rgb(17, 184, 206);
}

.footer {
    display: grid;
    justify-items: center;
    align-items: end;
}

a {
    text-decoration: none;
    color: white;
}